@import "./bootstrap.min.css";
@import "./style.css";

@import "./vertical-rhythm.min.css";
@import "./magnific-popup.css";
@import "./owl.carousel.css";
@import "./splitting.css";
@import "./YTPlayer.css";

/* TPL Journey uses only the Elegant theme */
@import "./demo-elegant/demo-elegant.css";

@import "./custom.css";
@import "./style-responsive.css";
